<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 24px;">Headphone Details</h1>
    <table>
        <tr>
            <td style="font-size: 18px;">Company</td>
            <td style="font-size: 18px;">:{{company}}</td>
        </tr>
        <tr>
            <td style="font-size: 18px;">Name</td>
            <td style="font-size: 18px;">:{{name}}</td>
        </tr>
        <tr>
            <td style="font-size: 18px;">Color</td>
            <td style="font-size: 18px;">:{{color}}</td>
        </tr>
        <tr>
            <td style="font-size: 18px;">Price</td>
            <td style="font-size: 18px;">:{{Price}}</td>
        </tr>
    </table>
</body>
</html>
